<<<<<<< HEAD
{% extends "base.html.twig" %}
{% block title %}{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container-fluid">
        <h1>Choisir une catégorie</h1>
        <p>Bienvenue sur notre super jeu</p>

        {% for categorie in cate %}
       <a href="#">{{ categorie.category}}</a></br>
            {% endfor %}
    </div>
</div>




{% endblock %}